{% extends "base.html" %}
{% block content %}
  <form method="post" action="/">
      {% csrf_token %}
      <label>
          Username:
          <input type="text" name="user">
      </label><br/>
      <label>
          Command:
          <input type="text" name="command">
      </label><br/>
    <input type="submit">
  </form>
  <p>{{message}}</p>
{% endblock content %}